.wrapper {
  border: 10px dashed;
  height: 400px;
}

.box {
  background-color: var(--red);
  width: 200px;
  height: 200px;
  margin: 50px;
  font-size: 10em;
  text-align: center;
  line-height: 200px;
}

/*  rotate translate scale skew */
button {
  margin: 20px;
  width: 200px;
  height: 80px;
  border: 2px solid;
  background-color: transparent;
  font-size: 2em;
  transition: rotate 400ms;
}

button:hover {
  /* scale: 1.05; */
  translate: 1px 1px;
  /* rotate: 360deg */
}

.box {
  /* transform: rotate(180deg); */
  /* rotate: 45deg; */
  /* transform: rotate(45deg); */
  /* transform: scale(2); */
  /* scale: 1.2 */
  /* transform: translate(200px, 200px);
  transform: rotate(45deg); */
  /* transform: rotate(45deg); */
  /* transform-origin: 0 0; */
  /* translate: 200px 100px;
  rotate: 45deg;
  scale: 1.5; */
  /* transform: scale(2) rotate(45deg); */
  /* transform: skew(45deg, 30deg); */
  /* transform: rotate(45deg);
  transform-origin: center center; */
  /* scale: 2;
  transform-origin: 0 0; */
  translate: 200px 200px;
  /* transform-origin: 0 0; */
}